body {
  background-image: linear-gradient(to right top, #845ec2, #6b6ac9, #5074cb, #337cc9, #1582c4, #0086bf, #008ab8, #008db0, #008fa7, #00909a, #00908b, #008f7a);
  height:1000px;
  font-family:DM sans, Roboto, Verdana;
  display:flex;
  align-items:center;
  justify-content:center;
}

h1 {
  color:white;
  font-size:48px;
  letter-spacing:2px;
  text-shadow:5px 5px 15px rgba(238,238,238,0.8);
}


h2{
  color:#6b6ac9;
  font-size:36px;
  font-weight:600;
}

button {
  width:350px;
  border:none;
  padding: 10px 24px 10px 24px;
  border-radius:6px;
  font-size:30px;
  font-family: 'Black Ops One', cursive;
  letter-spacing:3.5px;
}

.count-es{
  background-color:rgba(238,238,238,0.7);
  padding: 10px 24px 10px 24px;
  border-radius:20px;
}

.container{
  width:80%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:left;
}

.header.counter .button {
  
}